body {
  background-color: orange;
}

nav {
  display: flex;
  background-color: royalblue;
  justify-content: space-between;
  align-content: center;
}

nav ul li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: white;
  padding: 5px 8px;
}

nav ul {
  display: flex;
}

.post {
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.post h2 {
  font-size: 20px;
}

